*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
  
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 80px 20px;
    
}

header{
    h1{
        font-size: 34px;
        font-weight: 600;
        color: #333;
        text-align: left;
        margin-bottom: 20px;
        font-size: 'Poppins', sans-serif;
    }
}


main{
    display: flex;
    justify-content: space-between;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


}
.product-image-container{
    position: relative;
 position: relative;  /* This is important for absolute positioning of the button */
 width: 100%;
 display: flex;
 justify-content: center;
 margin-bottom: 40px;

 .add-to-cart-btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 35px;
    color: black;
    cursor: pointer;
    transition: all 0.4s ease;
    bottom: -25px;
    width: 200px;
    
    

    &:hover{
        background-color: var(--red);
        color: white;
    }
    .minus-icon,
    .plus-icon{
        display: none;
    
        font-size: 17px;
        font-weight: bold;
    }
   

    .hover-text{
        display: none;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-text{
        display: block;
        margin: 0 auto;
    }
  
    

    

}
}

.add-to-cart-btn:hover .minus-icon,
.add-to-cart-btn:hover .plus-icon {
    display: block;
}

.add-to-cart-btn:hover .btn-text {
    display: none;
}

.add-to-cart-btn:hover .hover-text {
    display: block;
}
.btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.product-list img{
    width: 100%;
    
    object-fit: cover;
    border-radius: 10px;
    


}