*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
  
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    /* padding: 80px 20px; */
    align-items: start;
    gap: 40px;
    background-color: var(--rose-100);
}

aside {
    grid-column: 3;
    grid-row: 1;
    height: fit-content;
    position: sticky;
    top: 20px;
    /* padding: 20px; */
    margin: 0;
}

main{
    grid-column: 1 / 3;
    grid-row: 2 / 6;
}

header{
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
   
    height: fit-content;
}

header h1 {
    margin: 0;
    padding: 20px 0;
   
}

header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    h1{
        font-size: 34px;
        font-weight: 600;
        color: #333;
        text-align: left;
        /* margin-bottom: 20px; */
        font-size: 'Poppins', sans-serif;
    }
}

main{
    display: flex;
    justify-content: space-between;
    /* max-width: 740px */
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 640px;
}
.product-image-container{
    position: relative;
 position: relative;  /* This is important for absolute positioning of the button */
 width: 100%;
 display: flex;
 justify-content: center;
 margin-bottom: 50px;

 &:hover{
    border: 2px solid var(--red);
    border-radius: 10px;
 }

 .add-to-cart-btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 35px;
    color: black;
    cursor: pointer;
    transition: all 0.4s ease;
    bottom: -25px;
    width: 140px;
    border: 1px solid var(--red);
    
    

    &:hover{
        background-color: var(--red);
        color: white;
    padding: 15px 15px;

    



    }
    .minus-icon,
    .plus-icon{
        display: none;
    
        font-size: 17px;
        font-weight: bold;
    }
   

    .hover-text{
        display: none;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-text{
        display: block;
        margin: 0 auto;
    }
  
    

    

}
}

.add-to-cart-btn:hover .minus-icon,
.add-to-cart-btn:hover .plus-icon {
    display: block;
}

.add-to-cart-btn:hover .btn-text {
    display: none;
}

.add-to-cart-btn:hover .hover-text {
    display: block;
}
.btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.product-list img{
    width: 100%;
    
    object-fit: cover;
    border-radius: 10px;
    


}

.product-info{
    display: flex;
    flex-direction: column;
   align-items: start;
    justify-content: start;
    gap: 8px;

    .product-category{
        font-size: 12px;
        font-weight: 600;
        color: var(--rose-500);
    }

    .product-name{
        font-size: 14px;
        font-weight: 600;
        color: var(--rose-900);
    }

    .product-price{
        font-size: 16px;
        font-weight: 600;
        color: var(--red);
    }
    
    
}

aside{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: start; */
    gap: 8px;
    background-color: var(--rose-50);
    padding: 20px;
    margin-top: 20px;
    /* width: 280px; */

    h2{
        color: var(--red);
        font-size: 24px;
        font-weight: 600;
    }

    .confirm-btn{
        background-color: var(--red);
        color: white;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.4s ease;
        width: 100%;
        /* margin-top: 20px; */

        &:hover{
            background-color: var(--rose-900);
        }
    }

    .empty-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h2{
            align-self: start;
        }

        .empty-cart-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            margin-top: 20px;


        img{
            width: 150px;
            height: 150px;
        }

           


            p{
                font-size: 12px;
                font-weight: 300;
                color: var(--rose-500);
             
            }
        }
    }
}


.cart-items{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;

    .cart-item{
        display: flex;
        flex-direction: column;
      width: 100%;
        gap: 10px;

        .item-name{
            font-size: 16px;
            font-weight: 600;
            color: var(--rose-900);
        }

        .cart-item-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;





            .item-details{
                display: flex;
                flex-direction: row;
               
                gap: 10px;


                .item-quantity{
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--red);
                    padding-right: 10px;
                }

                .item-price, .item-total{
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--rose-300);
                }
                
                
                
                
                
            }

            .delete-btn{
               
          
                margin-top: -30px;
               border-radius: 50%;
               border: 1px solid var(--rose-400);
               cursor: pointer;
               padding: 2px;
               transition: all 0.4s ease;

               &:hover{
              /* color: var(--rose-900); */
              color: black;
              border: 1px solid var(--rose-900);
               }
            }
        }
    }
    

    .total-amount{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;

        .total-amount-text{
            font-size: 12px;
            font-weight: 200;
            color: var(--rose-500);
        }

        .total-amount-price{
            font-size: 24px;
            font-weight: 600;
            color: var(--rose-900);
        }
        
        
    }


    .carbon-neutral-delivery{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        /* margin-top: 20px; */
        background-color: var(--rose-100);
        padding: 15px;
        border-radius: 10px;

        img{
            width: 20px;
            height: 20px;
        }

        p{
            font-size: 12px;
            font-weight: 200;
            color: var(--rose-500);
        }
    }
   
}

