* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
     --Check-Background-Gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue-Alt: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-Alt-Hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue-Alt: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue-Alt: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-Alt-2: hsl(237, 14%, 26%);
    --Active-Background: hsl(192, 100%, 80%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    display: flex;
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/bg-desktop-dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}


.container {
    /* margin: 0; */
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Light-Grayish-Blue-Alt);
    gap: 30px;
    width: 55%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h1{
        letter-spacing: 10px;
        font-weight: 600;
    }
}





.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme-toggle img {
    width: 20px;
    display: none; /* Hide all images by default */
}

.theme-toggle img.active {
    display: inline-block; /* Show only the active image */
}



.input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    gap: 5px;
    padding: 10px;
}

.todo-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Very-Light-Grayish-Blue);
    font-size: 18px;
}

.todo-input:focus {
    outline: none; /* Remove the default outline */
    background-color: var(--Very-Dark-Desaturated-Blue); /* Keep the same background */
    color: var(--Very-Light-Grayish-Blue);
}


.light-them .todo-input:focus {
    background-color: var(--Light-Grayish-Blue-Alt-Hover); /* Change background for light theme */
    color: var(--Very-Dark-Blue); /* Change text color for light theme */
}


.todo-checkbox {
    margin: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    appearance: none;
    border: 1px solid var(--Very-Dark-Grayish-Blue);
    background-color: var(--Check-Background);
    cursor: pointer;
    display: flex; /* Ensure the button can contain the image */
    justify-content: center; /* Center the image */
    align-items: center; /* Center the image */
}
.light-them .todo-checkbox {
    background-color: var(--Light-Grayish-Blue-Alt-Hover); /* Change background for light theme */
  
    border: 1px solid var(--Light-Grayish-Blue);
}
.light-them .todo-checkbox:hover {
    /* Change background for light theme */
  
    border: 1px solid var(--Very-Dark-Desaturated-Blue);
}


.todo-checkbox img {
    padding: 10px;
    background-color: var(--Check-Background);
    display: none; /* Hide the image initially */
}

.todo-checkbox.active {
    background: var(--Check-Background-Gradient); /* Change background when active */
}
.todo-list {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    gap: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    width: 100%;
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
    cursor: pointer;

    
}


.todo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.todo-item:hover .cross-btn {
    display: block;
}
.todo-info:hover .cross-btn {
    display: block;
}

.cross-btn {
    display: none;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    color: var(--Dark-Grayish-Blue);
    padding: 24px;
}

.light-them{
    background-color: var(--Light-Grayish-Blue-Alt-Hover);
    color: var(--Very-Dark-Blue);


}

body.light-them{
    background-color: var(--Light-Grayish-Blue-Alt-Hover);
    background-image: url(../images/bg-desktop-light.jpg);

}
.light-them .todo-count{
    color: var(--Dark-Grayish-Blue)

}

.footer-center .footer-button {
    padding-left: 10px;
}

.footer-center .active {
    color: var(--Bright-Blue);
}


p {
    font-size: 12px;
}

.footer-button {
    font-size: 14px;
    color: var(--Dark-Grayish-Blue);
}

.footer-button:active {
    color: var(--Bright-Blue);
}

.footer-button:hover {
    color: var(--Very-Light-Grayish-Blue);
}
.light-them .footer-button:hover {
    color: var(--Very-Dark-Blue);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.light-them .footer-center{
    background-color: var(--Light-Grayish-Blue-Alt-Hover); /* Change background for light theme */
    color: var(--Very-Dark-Blue); /* Change text color for light theme */

}


@media (max-width: 450px){
    .container{
        width: 91%;
    }
    label{
        font-size: 14px;
    }
    .todo-checkbox{
        width: 20px;
        height: 20px;
    }
    .footer-center{
        display: flex;
        position: absolute;
        bottom: -61px;
        margin-top: 46px;
    background-color: var(--Very-Dark-Desaturated-Blue);
        width: 100%;
        justify-content: center;
        padding: 15px;
        left: 0;
        gap: 20px;
    }

    .light-them .footer-center{
        background-color: var(--Light-Grayish-Blue-Alt-Hover); /* Change background for light theme */
        color: var(--Very-Dark-Blue); /* Change text color for light theme */
    
    }
    


}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .container{
        width: 70%;
    }

    label{
        font-size: 16px;
    }
    .todo-checkbox{
        width: 25px;
        height: 25px;
    }
}