*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{

  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%)
  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%)
  --Light-Grayish-Cyan-(Filter Tablets): hsl(180, 31%, 95%)
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%)
  --Very-Dark-Grayish-Cyan:  hsl(180, 14%, 20%)
}

body{
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
 
  background-color: hsl(180, 52%, 96%)
  
}

.header{
  background-color: hsl(180, 29%, 50%);
  height: fit-content;
}

.container-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-input{
  /* width: 100%; */
  align-items: center;
  justify-content: center;
}

.job-lists{
  /* width: 100%; */
 margin: 2% 20%;

}
.job-list {
  display: flex;
  gap: 10px;

    border: 1px solid red; /* Add a red border to each job listing */
    margin-bottom: 20px; /* Add some spacing between them */
   
  }

  .logos-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .company-logo {
    width: 45px; /* Set the width */
    height: 45px; /* Set the height */
    border-radius: 10px; /* Round the corners */
    object-fit: contain; /* Ensure the image fits within the dimensions without cropping, preserving aspect ratio */
    /* Other styles you might want: */
    margin-right: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
   
  }

  .job-infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-header{
    display: flex;
    gap: 20px;

  }
  .job-desc ul{
    display: flex;
    gap: 20px;

  }
  .job-desc ul li:first-child{
    list-style: none;
  }
  .required-lang ul li{
    display: flex;
    list-style: none;
  }
